.header {
	display: flex;
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
    background-color: #57B247;
    border-radius: 0px 0px 10px 10px;
    padding: 0 10px;
    align-items: center;
    color: white;
    flex-shrink: 0;
}

h3 {
    color:white;
}

.login {
    background-color: lightgrey;
    color: #449A35;
    border: black 2px solid;
    border-radius: 5px;
    padding: 4px 10px;
    margin-left: 15px;
}