.footer {
	display: flex;
    justify-content: space-between;
    margin: 5px 5% 0px 5%;
    background-color: #57B247;
    border-radius: 10px 10px 0px 0px;
    padding: 0 10px;
    align-items: center;
    color: white;
    flex-shrink: 0;
    /*position: fixed;
    bottom: 0;
    width: 90%;*/
}

h3 {
    color: white;
}