<!-- <img src="../assets/FotoPerfil.jpg" alt="Foto de perfil" height='128' width='128' style="border-radius: 50%">

<p>Lucas Pujia - Portfolio virtual</p>

<p>Hola bla bla bla Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas ligula ac nisi placerat molestie. Nulla facilisi. Morbi interdum finibus eros. Donec in ullamcorper nibh, a sagittis nisi. Suspendisse vestibulum posuere arcu ut elementum. Fusce id aliquam enim. Nunc finibus magna ac ante aliquet, ultricies elementum lectus finibus </p>
 -->
<body>
	<div style="display:flex; align-items:center;">
	  <div class="profile-photo">
	    <img src="../assets/FotoPerfil.jpg" alt="Profile Photo" style="width:250px;height:250px; border-radius: 50%; border: 2px solid darkgray;">
	    <p>Full Stack Developer Jr</p>
	  </div>
	  <div style="margin-left:20px;" class="font">
	    <h2>Lucas Pujia</h2>
	    <p class="font">Hola, soy Lucas y este es mi portfolio web, hecho en el curso #ArgentinaPrograma. Tengo 18 años, soy estudiante de Ciencias de la Computación en la UBA y considero que sé programar</p>
	  </div>
	</div>
</body>
