<div>
    <div class="costados">
        <h3 [ngStyle]="{'color': color}" *ngIf="!editable">{{titulo}}</h3>
        <input [(ngModel)]="titulo" *ngIf="editable">

        <div class="estrellas" *ngFor="let numero of [1,2,3,4,5]">
            <span *ngIf="(puntuacion) >= numero.toString()">★</span>
            <span *ngIf="(puntuacion) < numero.toString()">☆</span>
        </div>
        <input [(ngModel)]="puntuacion" *ngIf="editable">
        
        <div class="botones" *ngIf="logged">
            <button (click)="onClickEdit()" spellcheck="false" *ngIf="!editable">Edit</button>
            <button (click)="onClickEdit()" spellcheck="false" *ngIf="editable">Confirmar</button> 

            <button (click)="onClickDelete()" spellcheck="false" *ngIf="!borrar">Borrar</button>
            <button (click)="onClickDelete()" spellcheck="false" *ngIf="borrar">Confirmar</button>
        </div>
    </div>
</div>
