.multiline {
    white-space: pre-wrap;
}

.estrellas {
	display: inline-block;
	align-items: baseline;
	vertical-align: center;
	font-size: 32px;
	margin: 0px 10px;
}

.boton-hab {
	border: none;
	background-color: transparent;
	padding: 0px;
}

.imagen-hab {
	margin: 0px;
}