.banner-edit {
    margin: auto;
    width: 50%;
}

.principal {
	border-width: 2px;
	border-color: gray;
	border-style: double;
	border-radius: 30px;
	margin: 40px 100px;
	padding: 10px;
}

.individual {
	border: 2px lightgrey solid;
	border-radius: 10px;
	margin: 10px;
}

.banner {
	display: block;
	margin: auto;
	border: 1px gray solid;
	width: 85%;
	height: 400px; 
}