<!-- <img src="assets/Lucas_logo.png" class="banner" alt="Banner" align="center"> -->
<img src={{banner.titulo}} class="banner" alt="Banner" align="center">
<div class="banner-edit">
    <input [(ngModel)]="banner.titulo" *ngIf="editable && logged" size="100">
    <button (click)="editar()" spellcheck="false" *ngIf="!editable && logged">Editar banner</button>
    <button (click)="editar()" spellcheck="false" *ngIf="editable && logged">Confirmar</button> 
</div>
<div class="principal">
    <app-perfil></app-perfil>
</div>

<div class="principal" id="experiencia">
    <h2 class="titulo">Experiencia</h2>
    <div class="individual" *ngFor="let dato of experiencia">
        <app-info
        id={{dato.id}}
        categoria={{dato.categoria}}
        text={{dato.info}}
        titulo={{dato.titulo}}
        fechaInicio={{dato.fechaInicio}}
        fechaFin={{dato.fechaFin}}
        (btnClickDelete)="eliminar(dato.id)"
        (btnClickEdit)="editar()"></app-info>
    </div>
    <button *ngIf="logged && !creando" class="individual" (click)="agregar('experiencia')">Agregar experiencia</button>
    <button *ngIf="logged && creando" class="individual">Agregando post</button>
</div>

<div class="principal" id="educacion">
    <h2 class="titulo">Educación</h2>
    <div class="individual" *ngFor="let dato of educacion">
        <app-info
        id={{dato.id}}
        categoria={{dato.categoria}}
        text={{dato.info}}
        titulo={{dato.titulo}}
        fechaInicio={{dato.fechaInicio}}
        fechaFin={{dato.fechaFin}}
        (btnClickDelete)="eliminar(dato.id)"
        (btnClickEdit)="editar()"></app-info>
    </div>
    <button *ngIf="logged && !creando" class="individual" (click)="agregar('educacion')">Agregar educación</button>
    <button *ngIf="logged && creando" class="individual">Agregando post</button>
</div>

<div class="principal" id="proyectos">
    <h2 class="titulo">Proyectos</h2>
    <div class="individual" *ngFor="let dato of proyectos">
        <app-info
        id={{dato.id}}
        categoria={{dato.categoria}}
        text={{dato.info}}
        titulo={{dato.titulo}}
        fechaInicio={{dato.fechaInicio}}
        fechaFin={{dato.fechaFin}}
        (btnClickDelete)="eliminar(dato.id)"
        (btnClickEdit)="editar()"></app-info>
    </div>
    <button *ngIf="logged && !creando" class="individual" (click)="agregar('proyectos')">Agregar proyectos</button>
    <button *ngIf="logged && creando" class="individual">Agregando post</button>
</div>

<div class="principal" id="habilidades">
    <h2 class="titulo">Habilidades</h2>
    <div class="individual" *ngFor="let dato of habilidades">
        <app-habilidades
        id={{dato.id}}
        categoria={{dato.categoria}}
        puntuacion={{dato.info}}
        titulo={{dato.titulo}}
        fechaInicio={{dato.fechaInicio}}
        fechaFin={{dato.fechaFin}}
        (btnClickDelete)="eliminar(dato.id)"
        (btnClickEdit)="editar()"></app-habilidades>
    </div>
    <button *ngIf="logged && !creando" class="individual" (click)="agregar('habilidades')">Agregar habilidades</button>
    <button *ngIf="logged && creando" class="individual">Agregando post</button>
</div>